@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inconsolata:wght@200..900&display=swap");
@import "tailwindcss";

/* 🐛 FIX: Bypass the Tailwind v4 / Vite resolver bug */
@plugin "../node_modules/daisyui/index.js";

@theme {
  --font-geist-mono: "Geist Mono", monospace;
  --font-inconsolata: "Inconsolata", monospace;
  --font-ibm-plex-mono: "IBM Plex Mono", monospace;
}